<%- include('partials/header.ejs'); %>
    <div class="box" id="heading">
        <h1><%= title %></h1>
    </div>
    <div class="box">
        <ul>
            <% for (let i = 0; i <items.length; i++) { %>
                <li>
                    <%= items[i].title %>
                </li>
            <% } %>
        </ul>
        <a href="/add">Add a new item</a>
    </div>

<%- include('partials/footer.ejs'); %>
        
